
main {
    margin: 0 auto;
    border: solid 1px;
    width: 80%;
}

#tasks {
    width: 100%;
}
#tasks tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks td {
    padding: 4px;
} 
  
#tasks tr:nth-child(odd) {
    background-color: lightgray;
}